@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    margin-top: 200px;
    background-color: rgb(44,47,51);
    color: white;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

i.material-icons {
    font-size: 64px;
    color: rgb(67, 181, 129);
    cursor: pointer;
}


i.material-icons.spin {
    animation: spin 1s;
}

h1 {
    font-weight: 300;
}

p {
    margin-top: 3em;
}

.button {
    font-size: 16px;
    cursor: pointer;
    padding: 12px 28px;
    border-radius: 2px;
    margin: 6px 8px;
    margin-top: 6px;
    margin-right: 8px;
    margin-bottom: 6px;
    margin-left: 8px;
    color: hsla(0,0%,100%,.87);
    background-color: #7289da;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
    text-decoration: none;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
