@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #2196F3
}

nav {
    background: #54338C;
    padding: 21px;
    text-align: left;
}

nav a:not(.main) {
    font-size: .875em;
    color: rgba(255,255,255,.7);
    padding: 0 10px;
}

nav .main {
    color: white;
}

.bubble-alert {
    background-color: rgb(255, 42, 42);
    box-shadow: rgba(255, 42, 42, 0.38) 0px 3px 5px -1px, rgba(255, 42, 42, 0.38) 0px 4px 9px 0px, rgba(255, 42, 42, 0.22) 0px 1px 12px 0px;
    border-radius: 10px;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    position: relative;
    bottom: 1px;
}

.new {
    padding: 2px 5px;
    border-radius: 15px;
    font-weight: 500;
    color: white;
    font-size: 12px;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #d50000;
    position: relative;
    bottom: 2px;
    letter-spacing: .3px;
}

header .sep {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: transparent url("sep.svg") repeat-x bottom center;
    animation: flow 10s infinite linear;
}

header {
    background-color: #593595;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    min-height: 500px;
    position: relative;
    overflow: hidden;
    padding: 2rem;
    margin-bottom: 80px;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

h1 .twemoji {
    height: 39px;
    vertical-align: middle;
}

h2 .twemoji {
    height: 28px;
    vertical-align: middle;
}

header h1, header h2 {
    font-size: 3em;
    position: relative;
    z-index: 1;
}

header h2 {
    font-size: 1.5em;
}

.button {
    font-size: 16px;
    cursor: pointer;
    padding: 12px 28px;
    border-radius: 2px;
    margin: 6px 8px;
    color: hsla(0,0%,0%,.87);
    background-color: white;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
    position: relative;
    z-index: 1;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

*[class^=confetti] {
  position: absolute;
  white-space: nowrap;
  user-select: none;
  -moz-user-select: none;
}

.section {
    margin: 50px auto;
    max-width: 600px;
    text-align: center;
}

.section h2 {
    font-size: 1.8em;
}

.lang {
    margin: 1rem 0;
    text-align: left;
}

.tier {
    color: #6441a4;
    border: 1px solid;
    width: 250px;
    margin: 1rem;
    border-radius: 7px;
    vertical-align: top;
    display: inline-block;
}

.tier h3 {
    font-weight: 300;
    margin: 0;
    padding: 1rem 0;
    font-size: 1.5em;
}

.tier .item {
    padding: 1rem;
    border-top: 1px solid;
    opacity: .8;
    font-size: .9em;
}

.check-item {
    width: 250px;
    display: inline-block;
    padding: 1rem;
}

.check-item i {
    font-size: 36px;
    color: #6441a4;
    vertical-align: middle;
    position: relative;
    bottom: 4px;
}

.progress {
    background-color: rgb(252, 252, 252);
    height: 15px;
    border-radius: 15px;
}

.progress .marker {
    height: 15px;
    background-color: #6441a4;
    border-radius: 15px;
}

.logged-in-ctx {
    padding: .1rem;
    background-color: rgb(35, 39, 42);
    z-index: 10001;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: absolute;
    width: 100px;
    text-align: left;
}

.logged-in-ctx .sep {
    height: 1px;
    background-color: rgba(255,255,255,.2);
    margin: 0 .5rem;
}

.logged-in-ctx a {
    margin: .5rem;
    padding: 0 !important;
    display: block;
    color: white;
    opacity: .5;
    font-size: .8em;
}

.end {
    color: white;
    padding: 1rem;
    background-color: #593595;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.end h1, .end p, .end a {
    position: relative;
    z-index: 1;
    max-width: 550px;
    margin: 1em auto;
}

code.preview {
    display: block;
    font-family: 'Inconsolata', monospace;
    padding: 1rem;
    line-height: 1.1rem;
    background-color: rgb(44,47,51);
    text-align: left;
    color: white;
}

code.preview .v {
    color: rgb(67, 181, 129);
}

code.preview .k {
    color: rgb(240, 71, 71);
}
