@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(45, 48, 53);
    color: white;
    text-align: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

p {opacity: .8;}

nav {
    background: #54338C;
    padding: 21px;
    text-align: left;
}

nav a:not(.main) {
    font-size: .875em;
    color: rgba(255,255,255,.7);
    padding: 0 10px;
}

nav .main {
    color: white;
}

header {
    background: #593595;
    margin-bottom: 80px;
    position: relative;
}

header .sep {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: transparent url("sep.svg") repeat-x bottom center;
    animation: flow 10s infinite linear;
}

.sep-2 {
    width: 100%;
    height: 30px;
    margin-top: 200px;
    background: transparent url("sep-2.svg") repeat-x bottom center;
    animation: flow_reverse 10s infinite linear;
    z-index: 1001;
    position: relative;
}

@media screen and (min-width: 600px) {
    header .sep {animation: flow 80s infinite linear;}
    .sep-2 {animation: flow_reverse 80s infinite linear;}
}

header h1 {
    font-size: 300%;
    margin: 0;
    padding: 1em;
    padding-bottom: .5em;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

a {
    color: #9966cc;
    text-decoration: none;
}

.notice {
    background-color: rgb(240, 71, 71);
    padding: 12px;
    color: rgba(255,255,255,.8);
    font-size: 90%;
}

.notice a {
    color: inherit;
    border-bottom: 2px solid;
    padding-bottom: 1px;
    border-radius: 1px;
}

.button {
    font-size: 16px;
    cursor: pointer;
    padding: 12px 28px;
    border-radius: 2px;
    margin: 6px 8px;
    margin-top: 6px;
    margin-right: 8px;
    margin-bottom: 6px;
    margin-left: 8px;
    color: hsla(0,0%,100%,.87);
    background-color: #6441A4;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
}

header .button {
    color: #54338C;
    background-color: white;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: auto;
}

.card {
    width: 300px;
    padding: 20px;
    min-width: 300px;
    font-weight: 300;
}

.card h3 {
    font-size: 150%;
    margin: .05em;
}

.card p {
    font-size: 90%;
    color: rgba(255,255,255,.8);
}

.padded {
    padding: 50px 0;
}

.brand-joiner {
    font-size: 300%;
    padding-right: 7px;
    position: relative;
    bottom: 20px;
}

.new {
    padding: 2px 5px;
    border-radius: 15px;
    font-weight: 500;
    color: white;
    font-size: 80%;
    text-transform: uppercase;
    background-color: #d50000;
    position: relative;
    bottom: 2px;
    letter-spacing: .3px;
}

.new.coming-soon {
    background-color: #3F51B5;
}

code {
    padding: 2px;
    font-family: 'Inconsolata', monospace;
    background-color: rgb(35, 39, 42);
}

footer {
    padding: 12px 30px;
    background-color: rgb(26, 31, 33);
    text-align: left;
    padding-bottom: 2em;
    position: relative;
    z-index: 1001;
}

.brand {
    padding: 8.5px;
    border-radius: 100px;
    background-color: black;
    color: white;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 10px;
    margin: 5px;
}

.brand.discord {
    background-color: #7289da;
}

.brand.twitter {
    background-color: #1da1f2;
}

.brand.paypal {
    background-color: #003087;
}

.brand.github {
    color: #333;
    background-color: white;
    padding: 7.5px 9px 9px;
}

.logged-in-ctx {
    padding: .1rem;
    background-color: rgb(35, 39, 42);
    z-index: 10001;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: absolute;
    width: 100px;
    text-align: left;
}

.logged-in-ctx .sep {
    height: 1px;
    background-color: rgba(255,255,255,.2);
    margin: 0 .5rem;
}

.logged-in-ctx a {
    margin: .5rem;
    padding: 0 !important;
    display: block;
    color: white;
    opacity: .5;
    font-size: .8em;
}

*[mobile-only] {
    display: none;
}

@media (max-width:500px) {
    *[mobile-only] {
        display: initial;
    }

    .brand-joiner {
        bottom: 0;
    }

    header {
        height: auto;
    }
}

@keyframes flow {
    0% {background-position: bottom left;}
    50% {background-position: bottom right;}
    100% {background-position: bottom left;}
}

@keyframes flow_reverse {
    0% {background-position: bottom right;}
    50% {background-position: bottom left;}
    100% {background-position: bottom right;}
}

/*
Material Design Progress Bar
https://codepen.io/holdencreative/pen/vEVbwv
*/

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #432779;
  border-radius: 2px;
  background-clip: padding-box;
  /*margin: 0.5rem 0 1rem 0;*/
  overflow: hidden; }
  .progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #6e529d;
    transition: width .3s linear; }
  .progress .indeterminate {
    background-color: #6e529d; }
    .progress .indeterminate:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
              animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .progress .indeterminate:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
